.homePage-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.HomePage-Body {
  padding: 20px;
  margin: 50px auto;
}
.section {
  display: flex;
  margin: 20px auto 50px auto;
  width: 1000px;
  text-align: left;
  gap: 50px;
}

img {
  width: 500px;
  height: 500px;
}
.bodyText {
  padding: 20px;
  color: #5a5a5a;
  border: dotted 3px gold;
  position: relative;
  top: 40px;
}

.upperText {
  line-height: 150%;
  font-size: 1.4em;
  font-weight: 100;
}
.upperText::first-letter {
  initial-letter: 2 2;
  color: #000;
  font-weight: bolder;
}

.lowerText {
  text-align: center;
  font-size: 2.8em;
  padding: 20px;
  font-weight: bolder;
  animation: writeAnimation 5s steps(10, end) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #000;
}

.lowerText2 {
  line-height: 150%;
  font-size: 1.4em;
  font-weight: 100;
  margin: 30px;
}
.homePageRegisterButton {
  width: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 25%;
}
.homePageRegisterButton button {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  background-color: #000;
  border-radius: 30px;
}
.homePageRegisterButton button a {
  color: black;
  font-size: 2.4em;
  font-family: fantasy;
  animation: pageNameAnimation 2s infinite;
}

@keyframes writeAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}
@keyframes pageNameAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: gold;
  }
  100% {
    transform: scale(1.1);
  }
}
