.edit-task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  gap: 20px;
  padding: 30px;
  /* background: linear-gradient(white, rgb(91, 91, 91, 0.5), rgb(0, 0, 0)); */
  background-color: rgba(0, 0, 0, 0.89);
  position: absolute;
  top: 5%;
  left: 25%;
  z-index: 999;
  border-radius: 0.7rem;
}

.edit-form-header {
  font-family: fantasy;
  color: gold;
  text-shadow: 2px 1px #484646aa;
}

.quick-actions,
.task-description,
.taskText-edit-section,
.dates {
  background-color: rgb(39, 40, 39);
  padding: 20px;
  min-height: 25%;
}

.dates {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.edit-inputs {
  padding: 15px;
  font-size: 1.24rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  width: 60%;
}
.edit-headers {
  color: white;
  font-family: fantasy;
  font-weight:100;
}

.edit-buttons {
  width: 20%;
  height: 45px;
  margin-right: 20px;
  font-size: 0.85rem;
  border-radius: 20px;
  border: none;
  color: gray;
}

.dates-inputs {
  width: 70%;
  height: 40px;
  border-radius: 0.55rem;
  border: none;
  padding: 15px;
}
.save-button,
.cancel-button {
  width: 15%;
  height: 40px;
  margin-right: 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  font-family: fantasy;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
}

.cancel-button {
  background-color: rgba(114, 14, 14, 0.918);
  color: white;
  transition: 0.3s;
}
.cancel-button:hover {
  width: 20%;
  height: 50%;
}
.save-button {
  background-color: rgba(38, 114, 38, 0.918);
  color: white;
  transition: 0.3s;
}
.save-button:hover {
  width: 20%;
  height: 50%;
}

::placeholder {
  color: rgb(189, 187, 187);
}
