.edit-task-form {
  width: 50%;
  height: 90vh;
  overflow-y: scroll;
  gap: 20px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.89);
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 999;
  border-radius: 0.7rem;
}

.edit-form-header {
  color: gold;
  font-family: fantasy;
  background-color: black;
  position: sticky;
  top: -30px;
  width: 100%;
}

.quick-actions,
.task-description,
.taskText-edit-section,
.dates {
  background-color: rgb(39, 40, 39);
  padding: 1.6rem;
  min-height: 20%;
  margin-bottom: 15px;
}

.dates {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.edit-inputs {
  padding: 0.8rem;
  font-size: 0.95rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
  color: beige;
}

.edit-headers {
  color: rgb(221, 200, 43);
  font-family: fantasy;
  font-weight: 100;
  font-size: 1.2rem;
}

.quick-actions-buttons {
  width: 30%;
  height: 45px;
  margin-right: 20px;
  font-size: 0.85rem;
  border-radius: 20px;
  border-color: black;
  color: gray;
  padding: 15px;
  box-shadow: 2px 3px #000000a5;
}

.dates-inputs {
  width: 70%;
  height: 40px;
  border-radius: 0.55rem;
  border: none;
  padding: 15px;
}
.save-button,
.cancel-button {
  width: 15%;
  height: 40px;
  margin-right: 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  font-family: fantasy;
}

.save-cancel-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 10px;
}

.cancel-button {
  background-color: black;
  color: gold;
}
.cancel-button::after {
  font-size: 1.1rem;
  content: "Cancel";
}
.cancel-button:hover {
  width: 20%;
  height: 50%;
  background-color: rgb(128, 0, 0);
  color: white;
}

.cancel-button:hover::after {
  content: "X";
}

.save-button {
  background-color: black;
  color: gold;
}
.save-button::after {
  font-size: 1.2rem;
  content: "Save";
}
.save-button:hover {
  width: 20%;
  height: 50%;
  background-color: rgba(38, 114, 38, 0.918);
  color: white;
}

.save-button:hover::after {
  content: "✓";
}

::placeholder {
  color: rgba(160, 160, 160, 0.807);
}
