@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  --mainColor: #eb7c0d;
  --font-family: fantasy;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.taskComponent {
  height: 100vh;
}
.form__input {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskInput {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  border-radius: 15px;
  border-color: #eee;
  font-size: 1.2em;
  border-style: ridge;
  outline: none;
  transition: 0.4s;
}
.taskInput:focus {
  /* width: 50%; */
  font-size: 1.4em;
}
.addTodoBtn {
  background-color: rgba(38, 114, 38, 0.918);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 1.6em;
  border-radius: 15px;
  font-family: var(--font-family);
  box-shadow: 3px 5px 10px #35523c;
  width: 5%;
}
.addTodoBtn:hover {
  background-color: #6fb96e;
}
.container {
  width: 50%;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: scroll;
}

.pending__items {
  width: 100%;
  min-height: 10vh;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}

.pending__items {
  background-color: #f6816f;
}

.pending__items .first-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pending__items p {
  width: 100%;
  margin-left: 10px;
  word-wrap: break-word;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}

.pending__items .buttons-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pending__items .btn-delete,
.pending__items .btn-edit {
  padding: 6px;
  border: none;
  border-radius: 0.25em;
  font-family: fantasy;
}
