@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  --mainColor: #eb7c0d;
  --font-family: fantasy;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.taskComponent {
  height: 100vh;
}
.form__input {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskInput {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  border-radius: 15px;
  border-color: #eee;
  font-size: 1.2em;
  border-style: ridge;
  outline: none;
  transition: 0.4s;
}
.taskInput:focus {
  width: 50%;
  font-size: 1.4em;
}
.addTodoBtn {
  background-color: rgba(38, 114, 38, 0.918);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 1.6em;
  border-radius: 15px;
  font-family: var(--font-family);
  box-shadow: 3px 5px 10px #35523c;
  width: 5%;
}
.addTodoBtn:hover {
  background-color: #6fb96e;
}
.container {
  width: 80%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 10px auto 100px auto;
  border-radius: 30px;
}

.completed__wrapper,
.ongoing__wrapper,
.pending__wrapper {
  width: 32%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  margin: 10px;
}
.ongoing__wrapper > h3,
.pending__wrapper > h3,
.completed__wrapper > h3 {
  text-align: center;
  border-radius: 25px;
  width: 60%;
  padding: 10px;
  margin: 10px auto 30px auto;
  background-color: rgb(140, 140, 140);
  color: white;
  transition: 0.5s;
  font-family: fantasy;
}

.ongoing__wrapper > h3:hover {
  background-color: #f7edbccf;
  box-shadow: 3px 3px 40px #fff34e;
  color: #464646;
}
.pending__wrapper > h3:hover {
  background-color: #f7bcb3e7;
  box-shadow: 3px 3px 40px #f7bcb3e7;
  color: #464646;
}
.completed__wrapper > h3:hover {
  background-color: #8ac389dd;
  box-shadow: 3px 3px 40px #8ac389dd;
  color: #464646;
}

.pending__container,
.ongoing__container,
.completed__container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: scroll;
}
.pending__items,
.ongoing__items,
.completed__items {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}
.pending__items {
  background-color: #f6816f;
}
.ongoing__items {
  background-color: #f4dc72;
}
.completed__items {
  background-color: #6fb96e;
}

.comment {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
.comment > a {
  text-decoration: none;
  color: rgb(25, 111, 157);
}

.comment:hover {
  text-decoration: underline;
}
.comments__container {
  padding: 20px;
}
.comment__form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.comment__form > label {
  margin-bottom: 15px;
}
.comment__form textarea {
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
}
.commentBtn {
  padding: 10px;
  width: 200px;
  background-color: #367e18;
  outline: none;
  border: none;
  color: #fff;
  height: 45px;
  cursor: pointer;
}
.comments__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
