@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  --mainColor: #eb7c0d;
  --font-family: fantasy;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.taskComponent {
  height: 100vh;
}
.form__input {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskInput {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  border-radius: 15px;
  border-color: #eee;
  font-size: 1.2em;
  border-style: ridge;
  outline: none;
  transition: 0.4s;
}
.taskInput:focus {
  font-size: 1.4em;
}
.addTodoBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.addTodoBtn Icon:hover {
  background-color: #6fb96e;
}
.container {
  width: 50%;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: scroll;
}

.pending__items {
  width: 100%;
  min-height: 10vh;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}

.pending__items {
  background-color: #000000;
  /* background-color: #be2f2f; */
}

.pending__items .first-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending__items p {
  width: 100%;
  margin-left: 10px;
  word-wrap: break-word;
  font-size: 1.6em;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
  color: gold;
}

.pending__items .buttons-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pending__items .btn-delete,
.pending__items .btn-edit {
  padding: 6px;
  border: none;
  background-color: transparent;
}

/* Add a style for the checked checkbox */
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 1.8em;
  height: 1.6em;
  border: none;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "✓";
  transform: scale(0);
  font-size: 1.7em;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Add a style for the completed task text */
.completed-text {
  text-decoration: line-through;
}

/* Style for completed task container */
.completed {
  opacity: 0.9;
}
