footer {
  display: flex;
  justify-content: center;
  min-height: 5vh;
  margin-top: 50px;
}
.copy-right {
  background-color: #000000;
  width: 100%;
  padding: 20px;
  color: #aaa;
  text-align: center;
  font-size: 1.2em;
}

.second {
  margin: 15px;
  color: #aaa;
}
