* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --mainColor: #eb7c0d;
  --fontColor: #eb920d;
  --fontFamily: fantasy;
}
.loginContainer {
  width: 100vw;
  height: 88vh;
  display: flex;
}
.imageSection {
  width: 50%;
  background-image: url(https://i.pinimg.com/474x/e1/00/f5/e100f5b4baef724c2ec630bfb29e1375.jpg);
  background-position: center;
  background-size: cover;
}
.formSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formHeader {
  padding: 15px;
  font-family: var(--fontFamily);
  font-size: 2.8em;
  color: var(--fontColor);
}

.formMessage {
  margin-bottom: 20px;
  color: #7c7c7c;
  font-family: var(--fontFamily);

  font-size: 1.2em;
}
.formMessageLink {
  margin-left: 5px;
  font-family: var(--fontFamily);
  color: #3d3c3c;
  transition: 0.3s;
}

.formMessageLink:hover {
  font-size: 22px;
  color: var(--fontColor);
}
.login__form {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.login__form > label {
  margin-bottom: 15px;
  font-family: var(--fontFamily);
  font-size: 1.2em;
  color: #3d3c3c;
}
.login__form > input {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  border-color: #eee;
  font-size: 1.2em;
  border-style: ridge;
}
.login__form > button {
  background-color: var(--mainColor);
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40%;
  padding: 10px;
  font-size: 1.6em;
  margin: 20px auto;
  border-radius: 15px;
  font-family: var(--fontFamily);
  box-shadow: 3px 5px 10px #ce7f09;
}

.login__form > button:hover {
  background-color: #f09d4a;
  color: #fff;
}
